*{
    margin: 0%;
    padding: 0%;
}
html, body{
    font-weight: normal;
    width: 100%;
    height: 100%;
}
.container{
    width: 100%;
    height: 100%;
    background-image: url(../images/img907.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-y: hidden;
    background-position: center;
    color: white;
    text-align: center;
}
.container .navbar{
    width: 100%;
    height: auto;
    position: relative;
    background-color: none;
    display: flex;
    justify-content: center;
}
.container .navbar a{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    padding: 0.5em 1em;
}
.container .navbar a:hover{
    background-color: white;
    color: black;
}
.container .navbar .active{
    background-color: white;
    color: black;
}
@media screen and (max-width: 68em)
{
    .navbar{
        flex-direction: column;
    }
}
.container #homepage{
    width: 60%;
    position: relative;
    top: 50%;
    left: 32%;
    transform: translate(-50%,-50%);
    float: left;
    justify-content: right;
    font-size: 1.2em;
}
img{
    width:30%;
    height: 82vh;
    bottom:2em;
    position: relative;
    top: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
    
}
@media screen and (max-width: 68em)
{
    .container{
        width: 100%;
    }
    .container #homepage{
        width:100%;
        height: 60%;
        transform: translate(-30%,-50%);
    }
    img{
        width:30%;
        height: 40%;
    }
}
@media screen and (max-width: 25em)
{
    .container{
        width: 25em;
    }
}
