*
{
    background-color: whitesmoke;
}
    
form{
    text-align: center;
    font-weight: bold;
    width: 100%;
}
table{
    text-align: center;
    width: 70%;
    border: 0.2em solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}
button{
    margin-top: 1em;
    font-size: 1em;
    font-weight: 600;
}